<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Analytics</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" type="text/css" href="/css/controller.css">
    <link rel='stylesheet' type='text/css' href='sdk/map.css'/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src='sdk/tomtom.min.js'></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
        <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
            <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Real Time Data Analytics</span>
                    <div class="mdl-layout-spacer"></div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                        <li class="mdl-menu__item">Sign Out</li>
                    </ul>
                </div>
            </header>
            <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                
                <nav class="demo-navigation mdl-navigation">
                    <a class="mdl-navigation__link" href="/home">Home</a>
                    <a class="mdl-navigation__link" href="/historial">Historical Data</a>
                </nav>
            </div>
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid demo-content">
                    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
                            <canvas id ="line-chart"></canvas>
                    </div>
                    <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                            <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                                <h2 class="mdl-card__title-text">Analytics</h2>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Select the previous gathered DataSets to perform Analysis
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select class="mdl-textfield__input" id="selectedidanal" name="octane">
                                <% for(var i = 0; i < avg.length -1; i ++){  if(avg[i].peakornot == 'Yes') var p = 'At Peak Hours'%>
                                    <option value="<%=avg[i].avgid%>">(<%=avg[i].lat%>,<%=avg[i].lon%>) <%=p%></option>
                                <% } %>
                            </select>
                            <label class="mdl-textfield__label" for="octane">Octane</label>
                          </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" onclick="generateanalysis();">Analytics</button>
                            </div>
                        </div>
                    </div>
                </div>   
            </main>
        </div>
        <input type='text' value='<%=avg[avg.length-1].lat%>' style="display:none;" id="lat"/>
        <input type='text' value='<%=avg[avg.length-1].lon%>' style="display:none;" id="lon"/>
        <input type='text' value='<%=avg.length%>' style="display:none;" id="avgmaxlength"/>
        <input type='text' value='<%=avg[avg.length-1].peakornot%>' style="display:none;" id="peakornot"/>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
        var ppm = [];
        $(document).ready(function(){
            peak = '';
            avglength = $('#avgmaxlength').val();
            if($('#peakornot').val() == 'Yes')
                peak='At Peak Hours';
            ppm.push(0);
            var lat; //average lat
            var lon; //average lon
            $.get("/sensorsData/" + avglength, function(data, status){
                console.log(data.sensors)
                ppm = data.sensors;
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [0,30,60,90,120,150,180,210,240,270,300],
                        datasets: [{ 
                            data: data.sensors, 
                            label: "Your Data", //display realtime ppm.
                            borderColor: "#3e95cd",
                            fill: false
                            }
                        ],
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Robotic Data at (Lat/Lon) (' + $('#lat').val() + ','+ $('#lon').val() +') for approximately 5 minutes'
                        }
                    }
                });
            });
        });
        function generateanalysis(){
            $('#comparisonchart').show();
            avgid = $('#selectedidanal').val();
            $.get("/getAnalytical/" + avgid, function(data, status){
                console.log('hello')
                //console.log(data.sensor);
                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: [0,30,60,90,120,150,180,210,240,270,300],
                        datasets: [
                            { 
                            data: ppm, 
                            label: "Your Data " + peak, //display realtime ppm.
                            borderColor: "#3e95cd",
                            fill: false
                            },{
                            
                            data: data.sensor, 
                            label: "Gathered Data", //display realtime ppm.
                            borderColor: "red",
                            fill: false
                            },
                        ],
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Data Comparison'
                        }
                    }
                });
            });
        }
        
    </script>
  </body>
      
</html>